{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block style %}
<style>
    html{
        background-color: #393939;
    }
</style>
{% endblock %}


{% block content %}
<section style="background-color: #393939;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">eyval :)))</h3>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
