{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block style %}
<style>
    body{
        background-color: #393939;
    }
  .dropbtn {
      border: none;   
      cursor: pointer;
  }
   
  .dropdown {
      position: relative;
      display: inline-block;
  }
   
  .dropdown-content {
      width: 100px;
      display: none;
      position: absolute;
      right: 0;
      background-color: #f5f9f9;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
   
  .dropdown:hover .dropdown-content {
      display: block;
  }
  #menu{
    background-color: rgb(248, 247, 247);
  }
  #add{
    background-color: rgb(248, 247, 247);
    margin-left: 20px;
    border: none;
  }
</style>
{% endblock %}


{% block content %}
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <!-- navbarText -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 1rem;">
            <div class="dropdown bg-light" style="float:right;">
              <button class="dropbtn" id="menu"><span class="navbar-toggler-icon"></span></button>
              <div class="dropdown-content dropdown-menu">
              
              <a href="">Edit info</a>
              <a href="">Log out</a>
              
            </div>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <button id="add">
                    <a class="nav-link" href="{% url 'add' %}"><i class="fas fa-plus"></i></a>
                  </button>
                </li>
              </ul>
              <span class="navbar-text">
                {{ user }}
              </span>
            </div>
          </nav>


          <div class="card-body p-5 text-center">

            <div class="user_img" >
              <img src="../img/user_icon.png" alt=":/" style="border: solid black; border-radius: 50%;">
            </div>

            {% for obj in posts%}
            
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
